anipy_cli==2.7.31
backports-datetime-fromisoformat==2.0.1
beautifulsoup4==4.12.3
better-ffmpeg-progress==2.1.2
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==4.4.2
ffmpeg-python==0.2.0
future==1.0.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
m3u8==4.1.0
moviepy==1.0.3
numpy==1.26.4
pillow==10.3.0
proglog==0.1.10
pycryptodomex==3.20.0
pypresence==4.3.0
python-dateutil==2.9.0.post0
python-mpv==1.0.5
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
termcolor==2.4.0
tqdm==4.66.2
urllib3==2.2.1
yaspin==3.0.1
